In [ ]:
import pandas as pd

In [5]:
file_path = "C:\\Users\\danie\\Downloads\\netflix_titles (1).csv"

In [8]:
df = pd.read_csv("C:\\Users\\danie\\Downloads\\netflix_titles (1).csv")

In [9]:
print("Initial Setup Complete")
print("Data loaded successfully.")

Initial Setup Complete
Data loaded successfully.

In [14]:
print("Question 1 : rows and colunms in the dataset)")

Question 1 : rows and colunms in the dataset)

In [16]:
# Use the .shape attribute to get (rows, columns)
num_rows = df.shape[0]
num_cols = df.shape[1]

In [12]:
print(f"The dataset contains {num_rows} rows and {num_cols} columns.")

The dataset contains 8807 rows and 12 columns.

In [15]:
print("Question 2 : Data Types in the dataset")

Question 2 : Data Types in the dataset

In [19]:
print(df.dtypes)

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [22]:
print("Question 3 : check if dataset is complete")

Question 3 : check if dataset is complete

In [23]:
# Check for missing values: .isnull() creates a boolean mask, .sum() counts the 'True' values.
missing_values = df.isnull().sum()

In [24]:
# Filter to show only columns with missing data
columns_with_missing_data = missing_values[missing_values > 0]

In [25]:
print("Missing Value Counts by Column:")
print(columns_with_missing_data)

Missing Value Counts by Column:
director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [26]:
# Overall conclusion on data completeness
if columns_with_missing_data.sum() > 0:
    print("\nConclusion: The dataset IS NOT complete (some missing values have been found).")
else:
    print("\nConclusion: The dataset IS complete (no missing values found).")

Conclusion: The dataset IS NOT complete (missing values found).

In [30]:

print("Question 4 : number of Movies and TV Shows among the last 20 rows " + 
"of the dataset.")

Question 4 : number of Movies and TV Shows among the last 20 rows of the dataset.

In [31]:
# Isolate the last 20 rows
last_20_rows = df.tail(20)

In [32]:
# Count the frequency of each 'type' (Movie/TV Show) in the subset
content_counts = last_20_rows['type'].value_counts()

In [33]:
print("Content Counts in the Last 20 Rows:")
print(content_counts)

Content Counts in the Last 20 Rows:
type
Movie      15
TV Show     5
Name: count, dtype: int64